
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
   @Scripts.Render("~/myscriptbundle")
    @Styles.Render("~/mystylebundle")

   
</head>
<body>
    <div> 
    </div>
</body>
</html>
